.text_admin {
  width: 1422px;
  border-bottom: 1px solid black;
}
.text_admin h1 {
  display: inline-block;
  width: 193px;
  margin: 10px 0 10px 62px;
}
.registration h1 {
  display: inline-block;
  width: 193px;
  margin: 10px 0 10px 62px;
}
.flash_message {
  display: inline-block;
  width: 500px;
  height: 55px;
  margin: 9px 0 0 6px;
  color: red;
  font-size: 20px;
}
.registration .input_list {
  margin: 0 0 0 62px;
}
.item_name {
  width: 250px;
  height: 25px;
  margin: 0 0 10px 0;
}
.item_price {
  width: 40px;
  height: 25px;
  margin: 0 0 10px 0;
}
.item_amount {
  width: 30px;
  height: 25px;
  margin: 0 0 10px 0;
}
.item_image {
  margin: 0 0 10px 0;
}
.category {
  margin: 0 0 20px 0;
}
.item_registration {
  margin: 0 0 40px 0;
}
.all_list h1 {
  margin: 10px 0 0 62px;
}
.all_list {
  border-top: 1px solid black;
}
.all_list .list_name {
  margin: 0 0 0 200px;
}
.all_list .list {
  width: 1300px;
  margin: 0 0 0 62px;
  border: 0;
  text-align: center;
  border-collapse: collapse;
}
.all_list .list img {
  height: 70px;
}
.stock_amount {
  width: 30px;
  height: 25px;
}
table, th, td {
  border: 2px #808080 solid;
}
