/*外側の空白を削除*/
* { margin: 0; padding: 0; }
#container {
  width: 1366px;
  height: 768px;
  margin: 0 auto;
}
header {
  width: 1366px;
  height: 74px;
  margin: 5px 0;
}
header .img_title a {
  float: left;
  width: 440px;
  height: 74px;
  margin: 0 0 0 20px;
}
header .img_title a img {
  float: left;
  width: 440px;
  height: 74px;
}
header .img_title p {
  float: left;
  width: 322px;
  height: 30px;
  margin: 32px 0 10px 25px;
  color: #108710;
  font-weight: bold;
}
/*
header .buy {
  float: left;
  margin: 20px 0 0 200px;
  width: 300px;
  height: 50px;
}
*/
.buy {
  float: left;
}
.text_shopping_cart {
  width: 1322px;
  height: 45px;
  margin: 0 0 0 203px;
}
.text_shopping_cart h1 {
  display: inline-block;
}
.flash_message {
  display: inline-block;
  width: 800px;
  margin: 0 0 0 10px;
  color: red;
  font-size: 30px;
}
.buy_sum_box {
  float: left;
  width: 835px;
  margin: 0 60px 0 0;
  text-align: right;
}
.buy_sum_box .buy_sum_title, .buy_sum_price {
  color: red;
  font-size: 30px;
}
nav {
  float: left;
  width: 203px;
  height: 1000px;
}
.buy button {
  width: 1163px;
  height: 50px;
  font-size: 27px;
  background-color: #FF9872;
  color: white;
}
.nav {
  width: 144px;
  height: 250px;
  /*float: left;*/
}
.nav .nav_ttl {
  font-weight: bold;
  margin: 0 0 20px 0;
}
.nav ul {
  list-style:none;
}
.nav ul li {
  margin: 0 0 40px 0;
}
.nav ul li a {
  text-decoration: none;
  color: #108710;
  font-weight: bold;
}
.list_title {
  float: left;
  width: 1163px;
  border-bottom: 1px solid
}
.list_name {
  margin: 0 0 0 350px;
}
.list_price {
  margin: 0 0 0 350px;
}
.list_amount {
  margin: 0 0 0 75px;
}
.item_of_cart {
  float: left;
  width: 1163px;
}
.item_of_cart img {
  float: left;
  height: 250px;
}
.item_of_cart .item_name {
  float: left;
  width: 300px;
  margin: 100px 0 0 0;
  font-size: 25px;
}
.item_of_cart .cancel {
  float: left;
  margin: 105px 0 0 0;
}
.item_of_cart .item_price {
  float: left;
  margin: 96px 0 0 100px;
  color: red;
  font-size: 30px;
}
.item_of_cart .amount_change {
  float: left;
  width: 255px;
  margin: 100px 0 0 22px;
}
.item_of_cart .amount_change_text {
  width: 45px;
  height: 30px;
  font-size: 25px;
  text-align: center;
}
.item_of_cart .amount_change_button {
  width: 55px;
  height: 67px;
}
