/*外側の空白を削除*/
* { margin: 0; padding: 0; }
#container {
  width: 1366px;
  height: 768px;
  margin: 0 auto;
}
header {
  width: 1366px;
  height: 74px;
  margin: 5px 0;
}
header .img_title a {
  float: left;
  width: 440px;
  height: 74px;
  margin: 0 0 0 20px;
}
header .img_title a img {
  float: left;
  width: 440px;
  height: 74px;
}
header .img_title p {
  float: left;
  width: 322px;
  height: 30px;
  margin: 32px 0 10px 25px;
  color: #108710;
  font-weight: bold;
}
header .buy {
  float: left;
  margin: 20px 0 0 200px;
  width: 300px;
  height: 50px;
}
.text_shopping_cart {
  margin: 0 0 0 203px;
}
.buy button {
  width: 300px;
  height: 50px;
  font-size: 27px;
  background-color: #FF9872;
  color: white;
}
.flash_message {
  display: inline-block;
  width: 500px;
  margin: 0 0 0 10px;
  color: red;
  font-size: 30px;
}
.buy_sum_box {
  float: left;
  width: 1306px;
  margin: 0 60px 0 0;
  text-align: right;
}
.buy_sum_box .buy_sum_title, .buy_sum_price {
  color: red;
  font-size: 30px;
}
.nav {
  width: 203px;
  height: 2000px;
  float: left;
}
.nav .nav_ttl {
  font-weight: bold;
  margin: 0 0 20px 0;
}
.nav ul {
  list-style:none;
}
.nav ul li {
  margin: 0 0 40px 0;
}
.nav ul li a {
  text-decoration: none;
  color: #108710;
  font-weight: bold;
}
.item_of_cart {
  float: left;
  width: 960px;
}
.item_of_cart img {
  float: left;
  height: 250px;
}
.item_of_cart p {
  float: left;
  width: 710px;
  margin: 40px 0 0 0;
}
.item_of_cart .amount_change {
  float: left;
  width: 710px;
  height: 70px;
  margin: 30px 0 0 0;
}
.item_of_cart .amount_change_text {
  width: 45px;
  height: 30px;
  font-size: 25px;
  color: red;
  text-align: center;
}
.item_of_cart .amount_change_button {
  width: 150px;
  height: 67px;
  margin: 0 0 0 50px;
}
