/*外側の空白を削除*/
* { margin: 0; padding: 0; }
#container {
  width: 1366px;
  height: 768px;
  margin: 0 auto;
}
header {
  width: 1366px;
  height: 74px;
}
header .img_title a {
  float: left;
  width: 440px;
  height: 74px;
  margin: 0 0 0 20px;
}
header .img_title a img {
  float: left;
  width: 440px;
  height: 74px;
}
header .img_title p {
  float: left;
  width: 322px;
  height: 30px;
  margin: 32px 0 10px 25px;
  color: #108710;
  font-weight: bold;
}
header .buy {
  float: left;
  margin: 20px 0 0 200px;
  background-color: #FF9872;
  width: 300px;
  height: 50px;
}
header .buy a {
  text-decoration: none;
  background-color: #FF9872;
  color: white;
}
header .buy p {
  margin: 5px 0 0 27px;
  font-size: 27px;
}
.text_cart {
  margin: 0 0 0 203px;
}
.buy-sum-box .buy-sum-title, .buy-sum-price {
  color: red;
  font-size: 30px;
}
.nav {
  width: 203px;
  height: 600px;
  float: left;
}
.nav .nav_ttl {
  font-weight: bold;
  margin: 0 0 20px 0;
}
.nav ul {
  list-style:none;
}
.nav ul li {
  margin: 0 0 40px 0;
}
.nav ul li a {
  text-decoration: none;
  color: #108710;
  font-weight: bold;
}
.item_of_cart {
  float: left;
  width: 960px;
}
.item_of_cart img {
  float: left;
  height: 250px;
}
.item_of_cart p {
  float: left;
  width: 710px;
  margin: 40px 0 0 0;
}
.buy-sum-box {
  float: left;
  width: 1366px;
  text-align: center;
}
