/*外側の空白を削除*/
* { margin: 0; padding: 0; }
#container {
  width: 1366px;
  height: 768px;
  margin: 0 auto;
}
header {
  width: 1366px;
  height: 74px;
  margin: 5px 0;
}
header a {
  float: left;
  width: 440px;
  height: 74px;
  margin: 0 0 0 20px;
}
header a img {
  float: left;
  width: 440px;
  height: 74px;
}
header .subtitle {
  float: left;
  width: 322px;
  height: 30px;
  margin: 32px 0 10px 25px;
  color: #108710;
  font-weight: bold;
}
header .go_to_top {
  float: left;
  margin: 20px 0 0 200px;
  background-color: #FF9872;
  width: 300px;
  height: 50px;
}
header .go_to_top a {
  text-decoration: none;
}
header .go_to_top .text_go_to_top {
  margin: 5px 0 0 9px;
  font-size: 27px;
  color: white;
}
.text_finished {
  width: 1366px;
  height: 100px;
  text-align: center;
  font-size: 30px;
}
.text_finished p {
  color: red;
  font-size: 30px;
}
.text_finished span {
  color: red;
  font-size: 30px;
}
.text_finished .priceSum {
  color: red;
  font-size: 30px;
  margin: 5px 0;
}
.text_finished a {
  width: 430px;
  height: 47px;
}
.nav {
  width: 203px;
  height: 600px;
  float: left;
}
.nav .nav_ttl {
  font-weight: bold;
  margin: 0 0 20px 0;
}
.nav ul {
  list-style:none;
}
.nav ul li {
  margin: 0 0 40px 0;
}
.nav ul li a {
  text-decoration: none;
  color: #108710;
  font-weight: bold;
}
.items_finished {
  width: 1000px;
  height: 130px;
  float: left;
  margin: 0 0 30px 0;
}
.items_finished img {
  height: 130px;
  float: left;
  margin: 0 15px 0 250px;
}
.items_finished .items_name {
  margin: 15px 0 0 5px;
}
.items_finished .items_price {
  margin: 15px 0 0 5px;
}
.items_finished .items_amount {
  margin: 15px 0 0 5px;
}
