/*外側の空白を削除*/
* { margin: 0; padding: 0; }
#container {
  width: 1366px;
  height: 768px;
  margin: 0 auto;
}
header {
  width: 1366px;
  height: 74px;
  margin: 5px 0;
}
header .img_title a {
  float: left;
  width: 440px;
  height: 74px;
  margin: 0 0 0 20px;
}
header .img_title a img {
  float: left;
  width: 440px;
  height: 74px;
}
header .img_title p {
  float: left;
  width: 322px;
  height: 30px;
  margin: 32px 0 10px 25px;
  color: #108710;
  font-weight: bold;
}
header .watchCart {
  float: left;
  margin: 20px 0 0 200px;
  background-color: #FF9872;
  width: 300px;
  height: 50px;
}
header .watchCart a {
  text-decoration: none;
  background-color: #FF9872;
  color: white;
}
header .watchCart p {
  margin: 5px 0 0 27px;
  font-size: 27px;
}
.text_category {
  display: inline-block;
  margin: 0 0 0 203px;
}
.flash_message {
  display: inline-block;
  width: 500px;
  margin: 2px 0 0 10px;
  color: red;
  font-size: 30px;
}
.nav {
  width: 203px;
  height: 1000px;
  float: left;
}
.nav .nav_ttl {
  font-weight: bold;
  margin: 0 0 20px 0;
}
.nav ul {
  list-style:none;
}
.nav ul li {
  margin: 0 0 40px 0;
}
.nav ul li a {
  text-decoration: none;
  color: #108710;
  font-weight: bold;
}
.items_detail {
  width: 318px;
  height: 200px;
  float: left;
  margin: 1px;
}
/*
.items_detail:hover {
  border: 5px solid #59b1eb;
  box-sizing: border-box;
}
*/
.items_detail img {
  float: left;
  height: 130px;
  margin: 15px 0 0 0;
}
.items_detail .items_name {
  float: left;
  width: 178px;
  height: 95px;
}
.items_detail .items_price {
  float: left;
  width: 178px;
  height: 20px;
  color: red;
}
.items_detail button {
  width: 178px;
  height: 30px;
  font-size: 100%;
  color: white;
  background-color: #00CCFF;
}
/*
.items_detail button:hover {
  background-color: #fff;
  border-color: #FF773E;
  color: #FF773E;
  font-weight: bold;
  border: 1px solid #59b1eb;
}
.items_detail::before,
.items_detail::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.items_detail,
.items_detail::before,
.items_detail::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
*/
