/*外側の空白を削除*/
* { margin: 0; padding: 0; }

header {
  width: 1366px;
  height: 74px;
}
header a {
  float: left;
  width: 440px;
  height: 74px;
  margin: 0 0 0 20px;
}
header a img {
  float: left;
  width: 440px;
  height: 74px;
}
header p {
  float: left;
  width: 322px;
  height: 30px;
  margin: 32px 0 10px 25px;
  color: #108710;
  font-weight: bold;
}
#container {
  width: 1366px;
  height: 768px;
  margin: 0 auto;
}
/*
.top_image {
  max-width: 1366px;
  max-height: 607px;
}*/
.top_image img {
  width: 1366px;
  height: 694px;
  position: absolute;
}
.text_all_rounder {
  margin: 460px 0 0 40px;
  position: relative;
}
.text_serve_and_volley {
  margin: 20px 0 0 40px;
  position: relative;
}
.text_baseliner {
  margin: 20px 0 0 40px;
  position: relative;
}
