/*外側の空白を削除*/
* { margin: 0; padding: 0; }
#container {
  width: 1366px;
  height: 768px;
  margin: 0 auto;
}
header {
  width: 1366px;
  height: 74px;
  margin: 5px 0;
}
header a {
  float: left;
  width: 440px;
  height: 74px;
  margin: 0 0 0 20px;
}
header a img {
  float: left;
  width: 440px;
  height: 74px;
}
header p {
  float: left;
  width: 322px;
  height: 30px;
  margin: 32px 0 10px 25px;
  color: #108710;
  font-weight: bold;
}
.top_image img {
  width: 1366px;
  height: 694px;
  position: absolute;
}
.text_all_rounder {
  margin: 400px 0 0 40px;
  position: relative;
  font-size: 50px;
  width: 500px;
}
.text_all_rounder p {
  color: #003300;
  font-weight: bold;
}
.text_all_rounder a {
  text-decoration: none;
}
.text_serve_and_volley {
  margin: 20px 0 0 40px;
  position: relative;
  font-size: 50px;
  width: 550px;
}
.text_serve_and_volley p {
  color: #003300;
  font-weight: bold;
}
.text_serve_and_volley a {
  text-decoration: none;
}
.text_baseliner {
  margin: 20px 0 0 40px;
  position: relative;
  font-size: 50px;
  width: 450px;
}
.text_baseliner p {
  color: #003300;
  font-weight: bold;
}
.text_baseliner a {
  text-decoration: none;
}
